<hr style="color: black;"><div id = "header">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-danger pb-3">
            About Angular!
          </h1>
  
        </div>
      </div>
    </div>
  </div>
  
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class = "text"><u>Introduction</u></h2><br>
          <!-- <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p> -->
          <p style = "text-align: justify;">  Angular is a JavaScript (actually a TypeScript based open-source full-stack web application) framework which makes you able to create reactive Single Page Applications (SPAs). Angular 7 is completely based on components. It consists of several components which forms a tree structure with parent and child components. Angular's versions beyond 2+ are generally known as Angular only. 
            The very first version Angular 1.0 is known as AngularJS.

</p>
              <p style = "text-align: justify;">
                Angular1 was initially released in 2010. It was the first Angular version. It created a revolution in the web application development. It was a browser side JavaScript which was used within HTML code. It is popularly known as AngularJS.

Angular2 was a complete rewrite of Angular1. It was initially released in 2016. There is nothing common between Angular2 and Angular1 except the core developer's team. Angular2, Angular 6 and Angular 7 are very similar to each other. Angular 7 is the latest version. It contains the extensive features of Angular2 and Angular6. These versions are known as Angular.
               </p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr>
