<app-header></app-header>

  <body id="home" data-spy="scroll" data-target="#main-nav">


    <!-- SHOWCASE -->
    <section id="showcase" class="py-5">
      <div class="primary-overlay text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h1 class="display-2 mt-5 pt-5">
                Do What You Dream Of...
              </h1>
              <p class="lead">
                    Develop Your Skills
              </p>
              <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                <i class="fas fa-arrow-right"></i> Read More
              </a>
            </div>
            <div class="col-lg-6">
              <img
                src="../assets/book.png"
                alt=""
                class="img-fluid d-none d-lg-block"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- NEWSLETTER -->
    <section id="newsletter" class="bg-dark text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <input
              type="text"
              class="form-control form-control-lg mb-resp"
              placeholder="Enter Name"
            />
          </div>
          <div class="col-md-4">
            <input
              type="email"
              class="form-control form-control-lg mb-resp"
              placeholder="Enter Email"
            />
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-lg btn-block">
              <i class="fas fa-envelope-open-o"></i> Subscribe
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- BOXES -->
    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Be Better</h3>
                <p class="text-muted">
                    All our dreams can come true, if we have the courage to pursue them
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white mb-resp">
              <div class="card-body">
                <h3>Be Smarter</h3>
                <p>
                    The secret of getting ahead is getting started
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Be Faster</h3>
                <p class="text-muted">
                    Don’t Let Yesterday Take Up Too Much Of Today.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h3>Be Stronger</h3>
                <p>
                    You Learn More From Failure Than From Success. Don’t Let It Stop You. Failure Builds Character
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                Why Mizuxe?
              </h1>
              <p class="lead pb-3">
                Mizuxe is the global e-learning marketplace. Anyone can take a course on the platform, and anyone can publish and sell a course.
              </p>
            </div>

            <!-- ACCORDION -->
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div
                      href="#collapse1"
                      data-toggle="collapse"
                      data-parent="#accordion"
                    >
                      <i class="fas fa-arrow-circle-down"></i> Get Inspired
                    </div>
                  </h5>
                </div>

                <div id="collapse1" class="collapse show">
                  <div class="card-body">
                    We generate fears while we do nothing. We overcome these fears by taking action.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div
                      href="#collapse2"
                      data-toggle="collapse"
                      data-parent="#accordion"
                    >
                      <i class="fas fa-arrow-circle-down"></i> Gain The
                      Knowledge
                    </div>
                  </h5>
                </div>

                <div id="collapse2" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Impedit odit laborum qui, debitis, sequi dolores nobis
                    mollitia labore quasi earum laboriosam nihil cupiditate
                    magnam iusto nostrum doloremque accusantium repudiandae
                    expedita autem et, repellendus suscipit consequatur! Alias,
                    maiores amet sunt ab inventore illo, deleniti facilis
                    consequatur tenetur nam pariatur fuga nisi!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div
                      href="#collapse3"
                      data-toggle="collapse"
                      data-parent="#accordion"
                    >
                      <i class="fas fa-arrow-circle-down"></i> Open Your Mind
                    </div>
                  </h5>
                </div>

                <div id="collapse3" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Impedit odit laborum qui, debitis, sequi dolores nobis
                    mollitia labore quasi earum laboriosam nihil cupiditate
                    magnam iusto nostrum doloremque accusantium repudiandae
                    expedita autem et, repellendus suscipit consequatur! Alias,
                    maiores amet sunt ab inventore illo, deleniti facilis
                    consequatur tenetur nam pariatur fuga nisi!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- AUTHORS -->
    <section id="authors" class="my-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                Meet The Trainers
              </h1>
              <p class="lead">
                Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="../assets/person1.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Susan Williams</h3>
                <h5 class="text-muted">Lead Developer</h5>
                <p>
                    First, solve the problem. Then, write the code.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="../assets/person2.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Grace Smith</h3>
                <h5 class="text-muted">Manager</h5>
                <p>
                    In order to be irreplaceable, one must always be different
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="../assets/person3.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>John Doe</h3>
                <h5 class="text-muted">Architect</h5>
                <p>
                    Code is like humor. When you have to explain it, it’s bad
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img
                  src="../assets/person4.jpg"
                  alt=""
                  class="img-fluid rounded-circle w-50 mb-3"
                />
                <h3>Kevin Swanson</h3>
                <h5 class="text-muted">Designer</h5>
                <p>
                    Make it work, make it right, make it fast.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT -->


          <div class="col-lg-2" id ="logo">
            <img src="../assets/mlogo.png" alt="" class="img-fluid" />
          </div>
   





  </body>

  <app-footer></app-footer>