<header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Core Java</h1>
     
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Introduction</h2><br>
          <!-- <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p> -->
          <p style = "text-align: justify;">
            Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language.

            Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the Oak name to Java.</p>
              
        </div>
      </div>
    </div>
  </section>