<hr style="color: black;"><div id = "header">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-warning pb-3">
            About Python!
          </h1>
  
        </div>
      </div>
    </div>
  </div>
  
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class ="text"><u>Introduction</u></h2><br>
          <!-- <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p> -->
          <p style = "text-align: justify;"> Python is developed by Guido van Rossum. Guido van Rossum started implementing Python in 1989. Python is a very simple programming language so even if you are new to programming, you can learn python without facing any issues.

</p>
              <p style = "text-align: justify;">
                You may be wondering what all are the applications of Python. There are so many applications of Python, here are some of the them.<br><br>
                1. Web development – Web framework like Django and Flask are based on Python. They help you write server side code which helps you manage database, write backend programming logic, mapping urls etc.
                <br><br>
                2. Machine learning – There are many machine learning applications written in Python. Machine learning is a way to write a logic so that a machine can learn and solve a particular problem on its own. For example, products recommendation in websites like Amazon, Flipkart, eBay etc. is a machine learning algorithm that recognises user’s interest. Face recognition and Voice recognition in your phone is another example of machine learning.
                <br><br>
                3. Data Analysis – Data analysis and data visualisation in form of charts can also be developed using Python.
                <br><br>
                4. Scripting – Scripting is writing small programs to automate simple tasks such as sending automated response emails etc. Such type of applications can also be written in Python programming language.
                <br><br>
                5. Game development – You can develop games using Python.
                <br><br>
                6. You can develop Embedded applications in Python.
                <br><br>
                7. Desktop applications – You can develop desktop application in Python using library like TKinter or QT.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr>
