<!-- <nav>
  <a routerLink='/java' routerLinkActive='active'>Java Technologies</a> | 
  <a routerLink='/web' routerLinkActive='active'>Web Technologies</a>
 </nav> 
 <router-outlet></router-outlet><hr> -->

 <!-- <nav id = "home1">
  <a routerLink='/home' routerLinkActive='active'>Home</a>
  <a routerLink='/review' routerLinkActive='active'>Review</a>
  <a routerLink='/tech' routerLinkActive='active'>Technologies</a> 
  <a routerLink='registration' routerLinkActive='active'>Registration</a>
  <a routerLink='contact' routerLinkActive='active'>Contact Us</a>

 </nav> 

 <router-outlet></router-outlet> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-pass></app-pass> -->
<!-- <div *ngIf ="access granted"> -->

<!-- 
 <app-review></app-review>
 <app-course></app-course>
 <app-tech></app-tech> -->


<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

<!-- </div> -->
<!-- <app-registration></app-registration> -->
<!-- <app-contact></app-contact> -->
<!-- <app-header></app-header> -->
 <!-- <app-model-driven-formcomp></app-model-driven-formcomp> -->
 <!-- <app-login></app-login> -->
<!-- <app-temp-driven-formcomp></app-temp-driven-formcomp> -->


