/* html, body
{
    height: 100%;
}

body
{
    margin: 0;
    background-color: #292929;
    overflow: hidden;
}

nav
{
    position: absolute;
    top: 10%;
    right: 0;
    left: 40%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #041850;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

nav a:nth-child(4):before
{
    background-color: rgb(34, 119, 87);
}

nav a:nth-child(4):after
{
    background-color: palevioletred;
}

nav a:nth-child(5):before
{
    background-color: purple;
}

nav a:nth-child(5):after
{
    background-color: palevioletred;
}
#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: rgb(92, 134, 226);
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    left:1%;
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 20%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 40%;
    background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(4):hover ~ #indicator
{
    left: 60%;
    background: linear-gradient(130deg, rgb(34, 119, 87), rgba(93, 99, 97, 0.021));
}

nav a:nth-child(5):hover ~ #indicator
{
    left: 80%;
    background: linear-gradient(130deg, purple, palevioletred);
}

/* #ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: rgb(106, 58, 196);
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
} */ 




/* New Navbar */


.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff;
 
  }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.0rem;
    
  }
 .navbar button{
     left:90%
 }
 

  /* option///////////// */





.optionbox {
    left:90%;
    top:10%;
    background:  #3292a6;
    color: #fff;
    padding: 5px;
    width: 150px;
    height: 30px;
    border: none;
    font-size: 15px;
    /* box-shadow: 0 5px 48px rgb(93, 15, 9); */
    -webkit-appearance: button;
    outline: none
}

/* .optionbox:before {
    content: '\f358';
    font-family: "Font Awesome 5 free";
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: #E91E63;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 30px;
    pointer-events: none
} */

/* .optionbox:hover:before {
    background: #c72059
} */