


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#rev{
    margin-top: 135px;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative; 
  display: flex;
}


.searchTerm:focus{
  color: #00B4CC;
}
.advancedSearchTextbox{
  width: 20%;
  position: relative;
  left:78%;
  border: 3px solid #00B4CC;
  padding: 10px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 10px;
  bottom: 15px;

}



.table1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    background-color: #3292a6;
  }
  .table1 td, .table1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .table1 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .table1 tr:hover {
    background-color: #ddd;
  }
  
  .table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #343a40 ;
    color: white;
  }
  
  .s1 select{
    width: 20%;
    position: relative;
    height: 30px;
      border-radius: 5px;
      border: 3px solid blueviolet;
      height: 10px;
      padding: 2px;
      top:20px;
      left:54%;
      bottom:2px;
      padding: 10px;
      
    }
  #s2{
      color:#00B4CC;
      position: absolute;
      left:50%;
      bottom:70%;
     margin-top:50px;
     font-size: large;
     font-family: Georgia, 'Times New Roman', Times, serif;  
  }


  #p2 body{
    border: 3px solid black;
    background-color: darkkhaki;
    width:60%;
  }
    
  #header{
    text-align: center;
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.container{
    margin-top: 80px;
}
#header{
    text-align: center;
    color:#3292a6
}
button{
    width: 320px;
}
button:hover{
    background-color: rgb(167, 79, 79);
    cursor: pointer;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

#c1{
  left: 33%;
  background-color:#3292a6 ;
}

#c1 h2{
  color:#3292a6;
}